/* You can add global styles to this file, and also import other style files */


/* In the future this should go in _variables.scss */


body{
	    max-width: 1024px;
    margin: 0 auto;
    font-family: sans-serif;
}

.header-1{
	font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

button{
    width: 140px;
	font-weight: 500;
	font-size: 13px;
	height:40px;

}

